@charset "ISO-8859-1";
.page-title {
	height: 40px;
	background-color: powderblue;
	text-align: center;
}

.show-result {
	height: 40px;
	background-color: powderblue;
	text-align: center;
}

.divMessage {
	padding-top: 4px;
	height: 40px;
	background-color: powderblue;
	text-align: center;
	font-weight: bold;
}